In [2]:
#!pip install gspread

In [3]:
import pandas as pd
import gspread

In [4]:
gc = gspread.service_account( filename="C://Users//welcome//Desktop//Downloads//kayumr20-63ef9c4e99fe.json")

In [6]:
sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1bBQ1HtfQOACAjyuEsBffZgVZp-E4eZWQrWI4BF4VLlc/edit?usp=sharing")

In [9]:
ws = sheet.worksheet("ourselfs")

In [10]:
df = pd.DataFrame(ws.get_all_records())

In [11]:
df

    name  age
0  Kayum   24
1  Resma   22